{% extends "network/layout.html" %}
{% load static %}
{% block body %}
    <div id="posts" style="display: grid; place-items: center;">
        <h1 style="margin: 20px">All posts</h1>
        {% if request.user.is_authenticated %}
            <div class="card" style="width: 50%">
                <div class="card-body">
                    <p style="font-size: 25px">New post: </p>
                    <form id="create-post">
                        <textarea class="form-control" id="create-body" placeholder="Body" rows="8" ></textarea>
                        <input type="submit" class="btn btn-primary" style="margin-top: 10px"/>
                    </form>
                </div>
            </div>
        {% endif %}
        {% for post in page_obj %}
            <div class="card text-center" style="width:50%; margin: 20px;">
                <div class="card-header">
                    <strong>{{ post.author }} </strong> posted on <strong>{{ post.timestamp }}</strong>
                </div>
                <div class="card-body">
                   <div id = "post-text-{{ post.id }}" class="card-text"> {{ post.body }}</div>
                {% if request.user == post.author %}
                    <p class="edit-post" style="color: #0033ff; text-decoration: underline; cursor: pointer;">edit</p>
                {% endif %}
                </div>
                <div class="card-footer text-body-secondary">
                    <div class="like-post" id="like-{{ post.id }}"><i class="bi bi-heart-fill" style="color: rgb(255, 15, 15);"></i>
                     {{ post.count_likes }}
                    </div>
                </div>
            </div>
        {% empty %}
            <p>No posts</p>
        {%  endfor %}

        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>

    </div>
{% endblock %}